<!-- ══════════════════════════════════ FOOTER ══ -->
<footer class="c-footer">

  <div class="c-footer__body">
    <div class="container">
      <div class="row align-items-center">

        <!-- Logo -->
        <div class="col-md-6 col-6 mb-4 mb-md-0">
          <img src="images/footer-logo.png" alt="Cumulus Wealth" class="c-footer__logo-img" />
          <div class="margin-top-20">
            <span class="c-footer__bar-link">Portfolio Management Service</span><br>
            <span class="c-footer__bar-link">SEBI Registration Number: INP000006234</span><br>
          </div>
        </div>

        <!-- <div class="col-md-4 col-12"></div> -->

        <!-- Quick Links -->
        <div class="col-md-3 col-7 mb-4 mb-md-0">
          <p class="c-footer__ql-heading text-md-end">External Links</p>
          <ul class="c-footer__ql">
            <li><a href="https://scores.sebi.gov.in/" target="_blank">SEBI Scores</a></li>
            <li><a href="../pdf/Investor-charter.pdf" target="_blank">Investor Charter</a></li>
            <li><a href="../pdf/Updated-Disclosure-Document-Cumulus-24-Dec-2025.pdf" target="_blank">Disclosure Document</a></li>
            <li><a href="../pdf/CumulusFeesCalculator.xlsx" target="_blank">Fee Calculator</a></li>
            <li><a href="#" target="_blank">For Grievances</a></li>
          </ul>
        </div>

         <div class="col-md-3 col-7 mb-4 mb-md-0">
          <p class="c-footer__ql-heading text-md-end">Quick Links</p>
          <ul class="c-footer__ql">
            <li><a href="about.html">About</a></li>
            <li><a href="offerings.html">Offerings</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="privacy.html">Privacy Policy</a></li>
            <li><a href="insights.html">Insights</a></li>
          </ul>
        </div>


        <!-- Nav links -->
        <!-- <div class="col-md-4 col-12 text-md-end text-start">
          <nav class="c-footer__nav">
            <a href="about.html">ABOUT</a>
            <span class="c-footer__pipe">|</span>
            <a href="offerings.html">OFFERINGS</a>
            <span class="c-footer__pipe">|</span>
            <a href="contact.html">CONTACT</a>
          </nav>
        </div> -->

      </div>
    </div>
  </div>


</footer>
